#charts {
    padding: 10px 0;
  }

  .chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
  }

  .reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
  }

  .background.bar {
    fill: #ccc;
  }

  .foreground.bar {
    fill: red;
  }

  .brush-handle {
    fill: #eee;
    stroke: #666;
  }