
/*.chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
  }
*/
.bar {
  fill: red;
}

.bar {
  fill-opacity: 0.7;
  transition: fill-opacity 250ms linear;
}

#crime-type-chart .x.axis text {
  text-anchor: end;
}

#crime-type-chart svg {
  overflow: visible;
}

#neighborhood-chart .x.axis text {
  text-anchor: end;
}

#neighborhood-chart svg {
  overflow: visible;
}

/*#hour-chart .bar {
  fill-opacity: 0.2;
  transition: fill-opacity 250ms linear;
}

#date-chart .bar {
  fill-opacity: 0.2;
  transition: fill-opacity 250ms linear;
}*/

/*#hour-chart bar:active {
  stroke: #f00;
}
*/

.brush-handle {
    fill: #eee;
    stroke: #666;
  }


path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

/* On mouse hover, lighten state color */
path:hover {
  fill-opacity: .7;
}

.reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
  }

/* Style for Custom Tooltip */
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 70px;                  
  height: 40px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 10px;           
  pointer-events: none;         
}

.q8-9 { fill:#b2182b; }
  .q7-9 { fill:#d6604d; }
  .q6-9 { fill:#f4a582; }
  .q5-9 { fill:#fddbc7; }
  .q4-9 { fill:#f7f7f7; }
  .q3-9 { fill:#d1e5f0; }
  .q2-9 { fill:#92c5de; }
  .q1-9 { fill:#4393c3; }
  .q0-9 { fill:#2166ac; }
