


.bar {
  fill: red;
}
#neighborhood-chart .bar:hover {
  mode: false;
  fill: steelblue;
}

/*.hover: { mode: false }
.x.axis path {
  display: none;
}*/

.chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
  }

.map {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
  }



/*#charts {
    padding: 10px 0;
  }

  

  .reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
  }

  .background.bar {
    fill: #ccc;
  }

  .foreground.bar {
    fill: red;
  }

  .brush-handle {
    fill: #eee;
    stroke: #666;
  }*/